* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    margin-left: 30px;
    margin-top: 30px;
}

.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu .menu-faketrigger:checked~.menu-lines span {
    background-color: #232323;
}

.menu .menu-faketrigger:checked~.menu-lines span:nth-child(1) {
    transform-origin: 0% 100%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-faketrigger:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu .menu-faketrigger:checked~.menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    width: 220px;
    height: 92vh;
    padding-top: 100px;
    background-color: #EDEDED;
    margin-left: -220px;
    transition: all ease .2s;
    margin-top: -29px;
}

.menu ul li {
    padding: 10px 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    transition: all ease .3s;
}

.menu ul li a:hover {
    color: #999;
} 

.menu .menu-faketrigger:checked~ul {
    margin-left: 0;
}

.menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #CDCDCD;
    border-radius: 3px;
    transition: all ease .2s;
}

header {
    background-color: cadetblue;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

main {
    text-align: center;
}

textarea {
    border: 2px solid #999;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    color: #FFF;
    width: 300px;
    height: 100px;
    outline: 0;
}

select, button {
    display: block;
    width: 300px;
    border: 2px solid #999;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
    outline: 0;
}

option {
    background-color: #333;
}

select:disabled
button:disabled {
    opacity: .1;
}